.vscode/
build/
.idea/
*Makefile
*.cbp
*.exe
*cmake_install.cmake
*.log
CMakeCache.txt
CMakeFiles/
*/CMakeFiles/
.cmake/
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
